.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin: 130px 0; */
}

.catalogue_container {
  width: 100%;
}

.categorie_container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 140px;
}

.title_categorie {
  width: 100%;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #ffc857;
}

.carousel {
  margin: 0 auto;
}

.item_card {
  width: 200px;
  margin: 0 15px;
  text-decoration: none;
  color: #000000;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 15px;
}

.item_card:hover {
  background-color: #ffc857;
}

.item_img {
  border-radius: 10px;
}

.item_title {
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
