.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d3d3d;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.text {
  color: #ffffff;
  text-transform: uppercase;
}
