@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

.header {
  background-color: #3d3d3d;
  width: 100wh;
  height: 100px;
  display: flex;
  align-items: center;
}

.title {
  font-family: "Skranji", cursive;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 20px;
  width: 33.3%;
}

.nav {
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}

.link:hover {
  color: #74ff00;
  cursor: pointer;
}

.search_container {
  width: 33.4%;
  display: flex;
  justify-content: flex-end;
}

.search_box {
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #74ff00;
}

.search_button {
  margin-right: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #74ff00;
  color: #3d3d3d;
}

.search_button:hover {
  background-color: #51b100;
  cursor: pointer;
}
