@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

.header {
  background-color: #000000;
  width: 100wh;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.title {
  font-family: "Skranji", cursive;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 20px;
  width: 33.3%;
}

.nav {
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}

.link:hover {
  color: #ffc857;
  cursor: pointer;
}

.search_container {
  width: 33.4%;
  display: flex;
  justify-content: flex-end;
}

.search_box {
  padding: 10px 5px;
  border-radius: 5px;
  border: 2px solid #ffc857;
}

.search_box:focus {
  outline: none;
}

.search_button {
  margin-right: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #3d3d3d;
}

.search_button:hover {
  background-color: #ffc857;
  cursor: pointer;
}

.search_results {
  background-color: #ffffff;
  border-radius: 5px;
  position: fixed;
  top: 70px;
  right: 110px;
  padding: 0 10px;
}
