.item_container {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 120px auto;
  padding: 50px;
  background-color: #ffc857;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.img {
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.title {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ffb419;
  background-color: #ffb419;
  border-radius: 5px;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #ffffff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(95px);
  height: 100%;
  width: 39px;
  background-color: #ffb419;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.button .svg {
  width: 30px;
  stroke: #ffffff;
}

.button:hover {
  background: #ffb419;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #ffb419;
}

.button:active {
  border: 1px solid #ffb419;
}
