.profil__container {
  width: 40%;
  background-color: #ffc857;
  margin: 100px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil__img {
  clip-path: circle(50% at 50% 50%);
}
